.card-container-wrapper {
	width: 100%;
	align-items: center;
	position: relative;
}

.card-container {
	display: grid;
	min-width: 100%;
	max-width: 100vw;
	grid-template-columns: repeat(3, calc(100vw / 3 - .5em));
	grid-template-rows: repeat(3, calc(100vw / 3 - .5em));
	justify-content: center;
	justify-items: center;
	grid-gap: 0.25em;
	padding: 0.25em;
}

.img-prev-card {
	background-color: rgba(183, 110, 121, 0.40);
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.img-prev-card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.img-prev-card:hover {
	cursor: pointer;
	border: 5px solid var(--secondary-color-900--active);
}

@media (min-width:750px) {
	.card-container {
		padding: 0 5em 5em 5em;
		grid-template-columns: repeat(3, calc(100vw / 3 - 5.25em));
		grid-template-rows: repeat(3, calc(100vw / 3 - 5.25em));
	}

}

@media (min-width:1200px) {
	.card-container {
		grid-template-columns: repeat(3, calc(100vw / 4 - 5.25em));
		grid-template-rows: repeat(3, calc(100vw / 4 - 5.25em));
	}

}

@media (min-width:1550px) {
	.card-container {
		grid-template-columns: repeat(3, calc(100vw / 5 - 5.25em));
		grid-template-rows: repeat(3, calc(100vw / 5 - 5.25em));
	}

}
