.card-container-wrapper {
	width: 100%;
	align-items: center;
	position: relative;
}

.card-container {
	display: grid;
	min-width: 100%;
	max-width: 100vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-content: center;
	justify-items: center;
	grid-gap: 0.25rem;
	padding: 0.25rem;
}

.loading-modal {
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.90);
	color: white;
	position: absolute;
	font-size: 18px;
	padding-top: 50%;
}

.img-prev-card {
	background-color: #c0bcffbb;
	width: 100%;
}

.img-prev-card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-prev-card:hover {
	cursor: pointer;
	border: 5px solid #4e46b9;
}

@media (min-width:900px) {
	.card-container {
		padding: 5rem;
	}

	.loading-modal {
		padding-top: 10%;
		font-size: 2em;
	}
}

