.form-container
, .dropdown-container
, .dropdown-group
, .radio-btn-group {
	display: flex;
}

.form-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.dropdown-group {
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: 15%;
}

.dropdown-container {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5rem;
}

label {
	margin-left: 0.25rem;
}