.form-container
, .dropdown-container
, .dropdown-group
, .radio-btn-group {
	display: flex;
}

.form-container > label
.form-container p {
	color: var(--accent-color);
	font-family: var(--primary-font);
}

.form-container {
	grid-area: form;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1em;
	padding-top: 0;
	margin-bottom: 1em;
}

.form-container > p {
	font-size: 2em;
}

.dropdown-group {
	flex-direction: column;
	justify-content: flex-start;
}

.dropdown-container {
	width: 50%;
	flex-direction: column;
	justify-content: center;
	gap: 2em;
}

.radio-btn-group {
	display: flex;
	align-content: center;
}

.radio-btn-group > * {
	height: 1.5em;
}

label {
	margin-left: 0.25rem;
}

@media (min-width: 900px) {

	.dropdown-container {
		flex-direction: row;
		width: 75%;
		justify-content: space-evenly;
	}

	.dropdown-group {
		width: 40%;
	}

}