.menu {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 251, 250);
}

.img-fullview {
	height: 100%;
	width: 100%;
}

.img-fullview > img {
	max-width: 100vw;
	max-height: 100vh;
}

