.form-container
, .dropdown-container
, .dropdown-group
, .radio-btn-group {
	display: flex;
}

.form-container > label
.form-container p {
	color: var(--accent-color);
	font-family: var(--primary-font);
}


.form-container {
	grid-area: form;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1em;
}

.dropdown-group > select {
	width: 25ch;
}

.form-container > p {
	font-size: 1.5em;
	margin-bottom: 0.75em;
	letter-spacing: 0.05em;
}

.dropdown-group {
	flex-direction: column;
	justify-content: flex-start;
}

.dropdown-container {
	width: 50%;
	flex-direction: column;
	justify-content: center;
	gap: 2em;
}

.dropdown-flex-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.radio-btn-group {
	display: flex;
}

.radio-btn-group > * {
	height: 1.5em;
}

label {
	padding-left: 0.5em;
	font-weight: 600;
	font-size: 1.1rem;
	margin-bottom: 0.05em;
}

label.active {
	color: var(--primary-color-900);
}

select {
	border-radius: 5px;
	padding: 0.25em;
}


select.active {
	box-shadow: 0 0 0px 2px var(--primary-color-900);
}

@media (min-width: 750px) {

	.dropdown-container {
		flex-direction: row;
		width: 75%;
		justify-content: space-evenly;
	}

	.dropdown-flex-wrapper {
		width: 40%;
		align-items: center;
	}

	.radio-btn-group {
		width: 25ch;
		/* align-self: flex-start; */
	}

}