.menu {
	position: relative;
	width: 100%;
	background-color: var(--clr-background);
	/* max-height: 100vh; */
}

.nav__logo {
	grid-area: logo;
	background-image: url("../img/logo__horizontal.svg");
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.nav__logo::after {
	content: '';
	background-color: pink;
	width: 50px;
	position: absolute;
	height: 5px;
	bottom: -0.5em;
	left: 50%;
	margin-left: -25px;
}


.nav__logo:hover {
	cursor: pointer;
}

.nav {
	min-width: 250px;
	width: 100%;
	padding: 0.75em;
	margin-bottom: 1em;
}

.nav-form-wrapper {
	top: 0;
	height: auto;
	position: sticky;
	background-color: inherit;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.nav-form-wrapper > * , .nav-form-wrapper {
	z-index: 100;
}


@media screen and (min-width: 750px) {
}

@media (min-width: 950px) {

	.nav-form-wrapper {
		display: grid;
		justify-items: center;
		grid-template-areas: 
			"logo form form form";
		justify-items: center;
		align-items: center;
	}

	.nav {
		margin-bottom: 0;
	}
	
	.nav__logo::after {
		display: none;
	}

}

@media screen and (min-width: 1200px) {
	.nav-form-wrapper {
		padding-right: 7em;
		padding-left: 7em;
	}
}
